/*variables*/
:root {
  --main-padding: 20px 30px;
  --main-redius: 20px;
}

/*body, grid, h2 set*/
body {
  border-radius: var(--main-redius);
}
.container {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "header header header "
    "aside main main";
  grid-gap: 0.1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 800;
  color: black;
  text-align: center;
  height: 100vh;
  border-radius: var(--main-redius);
}

.subhead {
  justify-self: center;
  font-size: 30px;
  margin-bottom: 20px;
}

/*profile set*/
header {
  grid-area: header;
  background: skyblue;
  height: 65vh;
  border-radius: var(--main-redius);
}

.about {
  position: absolute;
  width: 55%;
  left: 15%;
  padding: var(--main-padding);
  margin-top: -10px;
  border-radius: var(--main-redius);
  align-content: space-around;
}

img {
  width: 201px;
  height: 207px;
  border-radius: 50%;
  float: left;
  padding: 20px;
}

.paragraph {
  margin-top: 70px;
}

/*my hobby set*/
aside {
  grid-area: aside;
  background: skyblue;
  border-radius: var(--main-redius);
}

.hobbies {
  padding: 20px;
  justify-items: start;
  border-radius: var(--main-redius);
  height: 30vh;
  padding-bottom: 100px;
}

.list {
  justify-self: left;
  text-align: left;
}

/*aspiration set*/
main {
  grid-area: main;
  background: skyblue;
  border-radius: var(--main-redius);
}

.aspirations {
  padding: 20px;
  border-radius: var(--main-redius);
  height: 30vh;
  padding-bottom: 100px;
  text-align: left;
}

/*screen size set*/
@media only screen and (max-width: 1100px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 2fr 2fr;
    grid-template-areas:
      "header"
      "aside"
      "main";
  }

  header {
    grid-area: header;

    height: 70vh;
  }

  .about {
    position: absolute;
    width: 70%;
    left: 15%;
    padding: var(--main-padding);
  }

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
  }

  main{
    
  }

aside{
  height: 60vh;
}
}

@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 2fr 2fr;
    grid-template-areas:
      "header"
      "aside"
      "main";
  }

  header {
    grid-area: header;

    height: 90vh;
  }

  .about {
    position: absolute;
    width: 45%;
    left: 15%;
    padding: var(--main-padding);
    justify-items: center;
  }

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
  }

  .hobbies {
    padding: 20px;
    justify-items: center;
  }

  .aspirations {
    padding: 20px;
    justify-items: center;
  }
}

@media only screen and (max-width: 380px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 2fr 2fr;
    grid-template-areas:
      "header"
      "aside"
      "main";
  }

  header {
    grid-area: header;

    height: 100vh;
  }
}
